In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Intro

In [ ]:
url='/content/drive/MyDrive/Colab Notebooks/data/train.csv'
df=pd.read_csv(url)
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
cabecera=['id','sobrevivientes','clase','nombre','sexo','edad','hermanos','hijos','ticket','tarifa','cabina','embarque']
df.columns=cabecera
df.head()

   id  sobrevivientes  clase  ...   tarifa cabina  embarque
0   1               0      3  ...   7.2500    NaN         S
1   2               1      1  ...  71.2833    C85         C
2   3               1      3  ...   7.9250    NaN         S
3   4               1      1  ...  53.1000   C123         S
4   5               0      3  ...   8.0500    NaN         S

[5 rows x 12 columns]

In [ ]:
ruta='/content/drive/MyDrive/Colab Notebooks/data/datosPreProcesados/titanic.csv'
df.to_csv(ruta)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              891 non-null    int64
 1   sobrevivientes  891 non-null    int64
 2   clase           891 non-null    int64
 3   nombre          891 non-null    object
 4   sexo            891 non-null    object
 5   edad            714 non-null    float64
 6   hermanos        891 non-null    int64
 7   hijos           891 non-null    int64
 8   ticket          891 non-null    object
 9   tarifa          891 non-null    float64
 10  cabina          204 non-null    object
 11  embarque        889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.describe()

               id  sobrevivientes  ...       hijos      tarifa
count  891.000000      891.000000  ...  891.000000  891.000000
mean   446.000000        0.383838  ...    0.381594   32.204208
std    257.353842        0.486592  ...    0.806057   49.693429
min      1.000000        0.000000  ...    0.000000    0.000000
25%    223.500000        0.000000  ...    0.000000    7.910400
50%    446.000000        0.000000  ...    0.000000   14.454200
75%    668.500000        1.000000  ...    0.000000   31.000000
max    891.000000        1.000000  ...    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
df.describe(include='all')

                id  sobrevivientes       clase  ...      tarifa   cabina  embarque
count   891.000000      891.000000  891.000000  ...  891.000000      204       889
unique         NaN             NaN         NaN  ...         NaN      147         3
top            NaN             NaN         NaN  ...         NaN  B96 B98         S
freq           NaN             NaN         NaN  ...         NaN        4       644
mean    446.000000        0.383838    2.308642  ...   32.204208      NaN       NaN
std     257.353842        0.486592    0.836071  ...   49.693429      NaN       NaN
min       1.000000        0.000000    1.000000  ...    0.000000      NaN       NaN
25%     223.500000        0.000000    2.000000  ...    7.910400      NaN       NaN
50%     446.000000        0.000000    3.000000  ...   14.454200      NaN       NaN
75%     668.500000        1.000000    3.000000  ...   31.000000      NaN       NaN
max     891.000000        1.000000    3.000000  ...  512.329200      NaN       NaN

[11 rows x 12 columns]

In [ ]:
#df.dropna(axis=0)
df.dropna(subset=['cabina'],axis=0)

      id  sobrevivientes  clase  ...   tarifa       cabina  embarque
1      2               1      1  ...  71.2833          C85         C
3      4               1      1  ...  53.1000         C123         S
6      7               0      1  ...  51.8625          E46         S
10    11               1      3  ...  16.7000           G6         S
11    12               1      1  ...  26.5500         C103         S
..   ...             ...    ...  ...      ...          ...       ...
871  872               1      1  ...  52.5542          D35         S
872  873               0      1  ...   5.0000  B51 B53 B55         S
879  880               1      1  ...  83.1583          C50         C
887  888               1      1  ...  30.0000          B42         S
889  890               1      1  ...  30.0000         C148         C

[204 rows x 12 columns]

In [ ]:
df['edad'].replace(np.nan,df['edad'].mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: edad, Length: 891, dtype: float64

In [ ]:
!git clone 'https://github.com/chendaniely/pydatadc_2018-tidy'

Cloning into 'pydatadc_2018-tidy'...
remote: Enumerating objects: 44, done.
remote: Total 44 (delta 0), reused 0 (delta 0), pack-reused 44
Unpacking objects: 100% (44/44), done.

In [ ]:
df=pd.read_csv('pydatadc_2018-tidy/data/gapminder.tsv',sep='\t')
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [ ]:
subset=df[['country','continent','year']]
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [ ]:
subset=df.loc[:,['year','pop']]
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [ ]:
df.loc[df['year']==1967,['year','pop']]

      year       pop
3     1967  11537966
15    1967   1984060
27    1967  12760499
39    1967   5247469
51    1967  22934225
...    ...       ...
1647  1967  39463910
1659  1967   1142636
1671  1967   6740785
1683  1967   3900000
1695  1967   4995432

[142 rows x 2 columns]

# Tidy Data

## pew

In [ ]:
pew=pd.read_csv('pydatadc_2018-tidy/data/pew.csv')
pew.head()

             religion  <$10k  $10-20k  ...  $100-150k  >150k  Don't know/refused
0            Agnostic     27       34  ...        109     84                  96
1             Atheist     12       27  ...         59     74                  76
2            Buddhist     27       21  ...         39     53                  54
3            Catholic    418      617  ...        792    633                1489
4  Don’t know/refused     15       14  ...         17     18                 116

[5 rows x 11 columns]

In [ ]:
pew_long=pd.melt(pew,id_vars='religion',var_name='income',value_name='count')
pew_long.head()

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

## billboard

In [ ]:
billboard=pd.read_csv('pydatadc_2018-tidy/data/billboard.csv')
billboard.head()

   year        artist                    track  time  ... wk73  wk74  wk75  wk76
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22  ...  NaN   NaN   NaN   NaN
1  2000       2Ge+her  The Hardest Part Of ...  3:15  ...  NaN   NaN   NaN   NaN
2  2000  3 Doors Down               Kryptonite  3:53  ...  NaN   NaN   NaN   NaN
3  2000  3 Doors Down                    Loser  4:24  ...  NaN   NaN   NaN   NaN
4  2000      504 Boyz            Wobble Wobble  3:35  ...  NaN   NaN   NaN   NaN

[5 rows x 81 columns]

In [ ]:
billboard_long=pd.melt(
    billboard,id_vars=['year','artist','track','time','date.entered'],
    var_name='week',
    value_name='rating'
    )

billboard_long.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [ ]:
billboard_long.loc[billboard_long['track']=='Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [ ]:
billboard_song=billboard_long[['year','artist','track','time']]
billboard_song.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [ ]:
billboard_song=billboard_song.drop_duplicates()
billboard_song.shape

(317, 4)

In [ ]:
#generar id
billboard_song['id']=range(len(billboard_song))
billboard_song.head()

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

## ebola

In [ ]:
ebola=pd.read_csv('pydatadc_2018-tidy/data/country_timeseries.csv')
ebola.head()

         Date  Day  ...  Deaths_Spain  Deaths_Mali
0    1/5/2015  289  ...           NaN          NaN
1    1/4/2015  288  ...           NaN          NaN
2    1/3/2015  287  ...           NaN          NaN
3    1/2/2015  286  ...           NaN          NaN
4  12/31/2014  284  ...           NaN          NaN

[5 rows x 18 columns]

In [ ]:
ebola_long=pd.melt(
    ebola,id_vars=['Date','Day'],
    
    )

ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [ ]:
variable_split=ebola_long['variable'].str.split('_')
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
             ...
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [ ]:
variable_split.str[0]
variable_split.str.get(0)

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
         ...
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [ ]:
ebola_long['stats']=variable_split.str.get(0)
ebola_long['country']=variable_split.str.get(1)

In [ ]:
ebola_long.head()

         Date  Day      variable   value  stats country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [ ]:
ebola_long[['stats','country']]=ebola_long['variable'].str.split('_',expand=True)
ebola_long

            Date  Day      variable   value   stats country
0       1/5/2015  289  Cases_Guinea  2776.0   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0   Cases  Guinea
...          ...  ...           ...     ...     ...     ...
1947   3/27/2014    5   Deaths_Mali     NaN  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN  Deaths    Mali

[1952 rows x 6 columns]

##  weather

In [ ]:
weather=pd.read_csv('pydatadc_2018-tidy/data/weather.csv')
weather.head()

        id  year  month element  d1    d2  ...  d26  d27  d28  d29   d30  d31
0  MX17004  2010      1    tmax NaN   NaN  ...  NaN  NaN  NaN  NaN  27.8  NaN
1  MX17004  2010      1    tmin NaN   NaN  ...  NaN  NaN  NaN  NaN  14.5  NaN
2  MX17004  2010      2    tmax NaN  27.3  ...  NaN  NaN  NaN  NaN   NaN  NaN
3  MX17004  2010      2    tmin NaN  14.4  ...  NaN  NaN  NaN  NaN   NaN  NaN
4  MX17004  2010      3    tmax NaN   NaN  ...  NaN  NaN  NaN  NaN   NaN  NaN

[5 rows x 35 columns]

In [ ]:
weather_melt=pd.melt(
    weather,id_vars=['id','year','month','element'],
    var_name='day',
    value_name='temp'  
    )

weather_melt.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [ ]:
weather_tidy=weather_melt.pivot_table(
    index=['id','year','month','day'],
    columns='element',
    values='temp',
    aggfunc=np.mean #si hay valor duplicado saca el promedio
)
weather_tidy.head()

element                 tmax  tmin
id      year month day
MX17004 2010 1     d30  27.8  14.5
             2     d11  29.7  13.4
                   d2   27.3  14.4
                   d23  29.9  10.7
                   d3   24.1  14.4

In [ ]:
weather_tidy.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5